.menu {
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.links {
    color: blue;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
